<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<style>
		#box{width:100%;border:1px solid #000;height:23px;padding:2px;border-radius: 5px;margin-bottom:15px;}
		#bar{background:rgba(177, 231, 152, 1);height:20px;padding:3px 0px 0px 0px;border-radius: 4px;}
	</style>
	<title>101 things in 1001 days</title>
</head>
<body>
	<h1>101 things in 1001 days</h1>
	<a id="about"></a>
	<h2>About</h2>
    <div class="leftbit">
        <p>
	        {% for thing in thing_list %}
		        {% if thing.complete %}
			        <a href="#{{ thing.id }}" class="summary complete">{{ thing.id }} </a>
		        {% else %}
			        <a href="#{{ thing.id }}" class="summary incomplete">{{ thing.id }} </a>
		        {% endif %}
	        {% empty %}
		        <p>No things are available.</p>
	        {% endfor %}
	        <a href="#about" class="summary incomplete">?</a>
        </p>
        <div id="box">
	        <div id="bar" style="width:{{ complete_percentage }}%;"></div>
        </div>
	</div>
	<div class="rightbit">
		<p>{{ site.intro }}</p>
		<p>The project started on {{ site.start_date|date:"d F Y" }} and runs to {{ site.end_date|date:"d F Y" }} meaning there's only {{ site.end_date|timeuntil }} left.</p> 
		<p>Of the {{ thing_list|length }} things on the list, {{ thing_complete_list|length }} have been completed.</p>
	</div>

	<h2>Things</h2>
    <ul>
    {% for thing in thing_list %}
		{% if thing.private %}
			<li class="private">{{ thing.id }}. This goal is private.</li>
		{% else %}
			{% if thing.complete %}
        		<a id="{{ thing.id }}">
					<a href="/things/{{ thing.id }}/">
						<li class="complete"><div class="thingright">... </div>{{ thing.id }}. {{ thing.name }}</li>
					</a>
				</a>
			{% else %}
				<a id="{{ thing.id }}">
					<a href="/things/{{ thing.id }}/">
						<li class="incomplete"><div class="thingright">... </div>{{ thing.id }}. {{ thing.name }}</li>
					</a>
				</a>
			{% endif %}
		{% endif %}
	{% empty %}
    	<p>No things are available.</p>
    {% endfor %}
    </ul>

	<footer>
        {% include "footer.html" %}
	</footer>
</body>
